rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        // Sites collection // 
        // Will contain documents like counts, public, sensitive, etc
        match /site/{documentId} {
            function isAdmin() {
                return (
                    get(/databases/$(database)/documents/users/$(request.auth.uid)/readOnly/flags).data.isAdmin == true
                )
            }

            function isSuperAdmin() {
                return (
                    get(/databases/$(database)/documents/users/$(request.auth.uid)/readOnly/flags).data.isSuperAdmin == true
                )
            }

            function isPublic() {
                // ** Would be more scalable to test a field in the document if public
                return (
                    (documentId != 'sensitive' && documentId != 'counts')
                )
            }

            // Anyone can read or list site docs as long as it isn't id of 'sensitive'
            allow read, list: if isPublic() || isAdmin();
            // Only admins or super admins can create and update
            allow create, update: if isAdmin();
            // Only super admins can delete it
            allow delete: if isSuperAdmin();
        }

        // Users collection // 
        match /users/{userId} {
            function isTrueUser() {
                return userId == request.auth.uid;
            }

            function isAdmin() {
                return (
                    get(/databases/$(database)/documents/users/$(request.auth.uid)/readOnly/flags).data.isAdmin == true 
                )
            }

            function isSuperAdmin() {
                return (
                    get(/databases/$(database)/documents/users/$(request.auth.uid)/readOnly/flags).data.isSuperAdmin == true 
                )
            }

            // Anyone can create a user
            allow create: if true;
            // Only that user or an admin can update, list, or read their profile data
            allow read, list, update: if isTrueUser() || isAdmin();
            // Super admins can delete a user
            allow delete: if isSuperAdmin();

            match /uploads/{document=**} {
                // Only that signed in admin user can create, update, read, delete, or list upload documents
                allow create, update, read, list, delete: if isAdmin();
            }

            match /readOnly/{document=**} {
                // Only Super Admins can edit these documents, anyone can read
                allow create, update, list, delete: if isSuperAdmin();
                allow read: if true;
            }

            match /newAdmins/{document=**} {
                // Only Super Admins can write and read these documents
                allow read, create, update, list, delete: if isSuperAdmin();
            }
        }

        // Contact Messages //
        // ** I am torn on whether or not to include this collection as a subcol of "site"
        match /messages/{messageId} {
            function isAdmin() {
                return (
                    get(/databases/$(database)/documents/users/$(request.auth.uid)/readOnly/flags).data.isAdmin == true 
                )
            }
            // No one can update, delete, read, or list but everyone can create
            allow update, delete, read, list: if isAdmin();
            allow create: if true;
        }
    }
}