rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{allPaths=**} {
        allow read, write: if request.auth.uid == userId;
    }
    match /public/{allPaths=**} {
        function isSuperAdmin() {
            return request.auth.token.role == "super";
        }

        allow read: if true;
        allow write: if isSuperAdmin();
    }
    match /items/{itemCollection}/{allPaths=**} {
        function isSuperAdmin() {
            return request.auth.token.role == "super";
        }

        function isPermitted(action) {
            return request.auth.token.role in firestore.get(/databases/(default)/documents/site/private).data[itemCollection][action];
        }

        allow read: if true;
        allow write: if isPermitted("create") || isSuperAdmin();
    }
  }
}